amx_client_languages 	"0"
amx_language 		"en"

csstats_maxsize 	"1000"
csstats_rank 		"1"
csstats_rankbots 	"1"

pug_acess_mode 		"1"
pug_password_field 	"_password"
pug_default_access 	"z"

pug_players_min_default "10"
pug_players_max_default "10"
pug_rounds_max 		"30"
pug_rounds_overtime 	"6"
pug_intermission_time 	"10.0"
pug_allow_spectators 	"1"
pug_allow_hltv 		"1"
pug_hide_slots		"1"
pug_retry_time 		"20.0"

pug_force_ready_time 	"0.0"
pug_force_ready_kick 	"0"
pug_force_auto_swap 	"0"

pug_force_restart 	"0"
pug_switch_delay 	"5.0"
pug_block_shield 	"1"
pug_block_grenades 	"1"
pug_show_money 		"1"

pug_vote_delay 		"15.0"
pug_vote_percent 	"0.4"
pug_vote_map_enabled 	"1"
pug_vote_map_same 	"1"
pug_show_scores 	"0"
pug_show_votes 		"2"
pug_hlds_votes 		"0"
pug_vote_kick_percent 	"60.0"
pug_vote_kick_teams 	"1"

pug_eac_url 		"http://eac.maxigames.com.br/shots/cstrike"
pug_eac_url_format 	"<url>/<server>/<date>/<guid>"

pug_config_pugmod 	"pugmod.rc"
pug_config_warmup 	"warmup.rc"
pug_config_start 	"start.rc"
pug_config_live 	"esl.rc"
pug_config_halftime 	"halftime.rc"
pug_config_overtime 	"esl-ot.rc"
pug_config_end 		"end.rc"